.toDoListBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  display: flex;
  flex-flow: wrap column;
  /* remove indentation and bullet */
  padding: 0;
  list-style-type: none;
  min-height: 300px;
}

li {
  border: solid 1px;
  padding: 5%;
  background-color: rgb(218, 218, 218)!important;
}

li:hover {
    border: 2px solid orange;
}

