.toDoListBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  display: flex;
  flex-flow: wrap column;
  /* remove indentation and bullet */
  padding: 0;
  list-style-type: none;
}

li {
  border: solid 1px;
  padding: 5%;
}
li:hover {
    border: 2px solid orange;
}

