main {
  padding-top: 130px;
  padding-left: 10px;
  padding-right: 10px;
}

.logo img {

}

.toDoBox{
  padding: 50px;
  width: 325px;
}

.toDoHeader {
  font-size: larger;
}

.toDoListBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  display: flex;
  flex-flow: wrap column;
  /* remove indentation and bullet */
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5% !important;
}

/* Search section */

section.search-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

input.form-control {
  width: 500px;
}

.searchForm {
  display: flex;
  justify-content: center;
}

select#search-filter.form-control {
  width: 150px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-content: center;
  align-items: center;
}
