nav {
  padding: 5px;
  width: 100%;
  top: 0px;
  /* align-content: stretch; */
  /* when to add more items in nav */
  position: fixed !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  position: fixed !important;
  display: flex;
}

a {
  color: #e8c382;
}

a:hover {
  color: #a86b4c;
  text-decoration: none;
}

.logged-as {
  float: left;
}