body {
  margin: 0;
  padding: 0;
}

nav {
  margin: 0;
  padding: 0;
  width: 100%;
  top: 0px;
  /* align-content: stretch; */
  /* when to add more items in nav */
  position: fixed !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar {
  position: fixed !important;
  display: flex;
  color: #ffffff;
  background-color: #340a0b;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

a {
  color: #e8c382;
}
a:hover {
  color: #a86b4c;
  text-decoration: none;
}

.nav-wrapper button {
  margin: 5px;
}

.logged-as {
  padding: 5%;
  text-align: center;
}

.logo {
  background-image: url("../../resources/images/group_logo.png");
  height: 60px;
  width: 260px;
  background-repeat: no-repeat;
  background-size: contain;
}

.drop-down-menu {
  display: none;
}

.navbar-brand {
  font-size: 30px;
}

@media screen and (max-width: 1024px) {
  .navbar-brand {
    display: block;
    text-align: center;
    font-size: 25px;
  }
  .drop-down-menu {
    display: block;
  }
  .logo {
    display: none;
  }
}