<!-- ***** NOTES: Take in nav container tags only ***** -->

<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!--title-->
  <title>Smart To-Do-List</title>

  <!--css links-->
  <link rel="stylesheet" href="./resources/dependencies/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="./styles/css/nav.css" type="text/css">
  <link rel="stylesheet" href="./styles/css/main.css" type="text/css">
  <link rel="stylesheet" href="./styles/css/footer.css" type="text/css">
  

  <!-- resources -->
  <script src="./resources/dependencies/jquery_3.6.1.min.js"></script>
  <script src="./scripts/listDrag.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-dark bg-primary">
        <div class="d-flex justify-content-start"><span class="navbar-brand mb-0 h1">Smart TO DO List</span></div>
        <span><a href="/register.html">Register</a></span>
        <span><a href="/login.html">Login</a></span>
        <div class="d-flex" role="search"><div class="logged-as">Logged in as: <a class="nav-link" href="/profile.html">USER</a></div></div>
      </nav>

    <main>
        <section class="profile-container">
            <section><p class="fs-1" id="username">USERNAME</p></section>
            <section><p class="fs-1" id="name">NAME</p></section>
            <section><p class="fs-1" id="email">EMAIL</p></section>
            <a class="btn btn-primary" href="/editprofile.html" role="button">Edit</a>
        </section>
    </main>
  <footer>
    Kevin Le, Mohamed Khalaf, Carolyn Wang
  </footer>
</body>
  <script type="text/javascript" src="./scripts/client.js"></script>
</html>