@import "variables.scss";


body {
  background-color: $background;
}

main {
  $top-size: 130px;
  padding-top: $top-size;
  padding-left: $left-right-padding;
  padding-right: $left-right-padding;
}

.toDoBox {
  padding: 30px;
  width: 325px;
}

.toDoHeader {
  font-size: larger;
}

.toDoListBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  display: flex;
  flex-flow: wrap column;
  list-style-type: none;
  padding: 5px;
  flex-direction: column;
  flex-wrap: nowrap;
}

.todo-list {
  border: 1px solid $outline;
  border-radius: 4px;
  padding: 5% !important;
  width: $full-percent;
  height: $full-percent;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: $white;
  box-shadow: 5px 5px 5px $outline;

  &:hover {
    background-color: $primary;
    overflow: visible;
    color: rgb(38, 38, 38);
  }
}

/* Search section */

section.search-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

select#search-filter.form-control {
  width: 150px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-content: center;
  align-items: center;
}


.list-group-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-content: center;
}

.zzone {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
}


.default-button {
  background-color: $secondary;
  color: $white;
}

.light-brown {
  color: $tertiary;
}

/* landing page */
.landing-page {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  object-fit: contain;
  margin-left: 5%;
}

/* Register Section */

.custom-centered-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-content: center;
  align-items: center;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-button{
  height: 50px;
  width: 50px;
  font-size: 25px;
}

.search-form {
  width: 500px !important; 
  height: 50px; 
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.item-search {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.add-button {
  height: 50px;
  width: 50px; 
  font-size: 25px;
}

.add-item{
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}


@media screen and (max-width: 1024px) {

  .search-form {
    width: 260px !important; 
  }

  .add-item {
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: nowrap;
  }

  .add-button{
    margin-left: 2px;
  }

  .toDoHeader {
    font-size: 160%;
  }

  .todo-list {
    font-size: 120%;
  }
 
  // .nav-wrapper {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  // }

}

