$primary: #e8c382;
$secondary: #b39d69;
$tertiary: #a86b4c;
$quaternary: #7d1a0c;
$quinary: #340a0b;
$white: #ffffff;
$outline: #ccc;

body{
  background-color: #f5f5f5be;
}

main {
  $top-size: 130px;
  $left-right-size: 10px;
  padding-top: $top-size;
  padding-left: $left-right-size;
  padding-right: $left-right-size;
}

.logo img {
  height: 60px;
  width: 260px;
}

.toDoBox{
  padding: 30px;
  width: 325px;
}

.toDoHeader {
  font-size: larger;
}

.toDoListBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  display: flex;
  flex-flow: wrap column;
  list-style-type: none;
  padding: 5px;
  flex-direction: column;
  flex-wrap: nowrap;
}

li {
  border: 1px solid $outline;
  border-radius: 4px;
  padding: 5% !important;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: $white;
  box-shadow: 5px 5px 5px $outline;

  &:hover {
    background-color: #ffedc4;
    overflow: visible;
    color: rgb(38, 38, 38);
  }
}

/* Search section */

section.search-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

input.form-control {
  width: 500px;
}

.searchForm {
  display: flex;
  justify-content: center;
}

select#search-filter.form-control {
  width: 150px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-content: center;
  align-items: center;
}


.list-group-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-content: center;
}

.zzone {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: nowrap;
  justify-content: space-between;
    align-items: baseline;
}

.bg-primary {
  color: #fff;
  background-color: #340a0b;
}

.default-button {
  background-color: #b39d69;
  color: #fff;
}

.light-brown {
  color: #a86b4c;
}

.item-search {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

/* landing page */
.landing-page {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  object-fit: contain;
  margin-left: 5%;
}

/* Register Section */

.custom-centered-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-content: center;
  align-items: center;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
