$primary: #e8c382;
$secondary: #b39d69;
$tertiary: #a86b4c;
$quaternary: #7d1a0c;
$quinary: #340a0b;

$white: #ffffff;
$outline: #ccc;
$background: #f5f5f5;
$full-percent: 100%;

$left-right-padding: 10px;